@import "normalize.css";
@import "@blueprintjs/core/lib/css/blueprint.css";
@import "@blueprintjs/icons/lib/css/blueprint-icons.css";

html, body {
  overflow-y: hidden;
}

.ace-tm .ace_gutter {
  background: #fff !important;
}

.hide {
  display: none;
}

.response-edit .ace_gutter > .ace_layer {
  margin-left: -15px;
}

.find-match {
  position: absolute;
  top: -10px;
  z-index: 30;
  width: 39%;
  right: 0px;
}

.inline-item {
    display: inline-block;
}

.bl-editor-tabs {
  flex: 1;
}

.bl-editor-tab-panel {
  margin-top: 0;
}